################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/contacts-app/.vs
/contacts-app/.vscode
